.card {
  background-color: #f2ead3;
  padding: 20px;
  .task_info > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    p {
      &:first-child {
        font-weight: 700;
      }
    }
  }
  .task_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
