// user card
.user_card {
  background-color: #f2ead3;
  position: relative;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  .profile_container {
    position: absolute;
    top: -43px;
    left: 50%;
    transform: translateX(-50%);
    .profile_image {
      border-radius: 50%;
    }
  }

  //   user info
  .user_info {
    padding: 70px 20px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    & > div {
      text-align: center;
      p {
        &:last-child {
          font-weight: 700;
        }
      }
    }
  }
}
